<h2>Country</h2>
<hr />
<div class="row">
  <div class="col">
    <app-country-input
      (onEnter)="search($event)"
      (onDebounce)="suggestions($event)"
    ></app-country-input>
  </div>
</div>
<ul class="list-group">
  <li
    *ngFor="let suggestedCountry of suggestedCountries"
    class="list-group-item list-group-item-action"
  >
    <a class="nav-link" [routerLink]="['/country', suggestedCountry.alpha2Code]" routerLinkActive="router-link-active" >{{ suggestedCountry.name }}</a>
  </li>
</ul>
<hr />

<div *ngIf="isError" class="alert alert-danger">
  No results match the search criteria <strong>{{ searchTerm }}</strong>
</div>
<div *ngIf="!isError && countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
